body {
    background-color: aqua;
}

span {
    width: 75px;
}

h1 {
    font-family: ;
    margin-top: 20px;
}

.form-control {
    background-color: aquamarine;
}

#AM {
    background-color: rgb(221, 255, 127);
}

#PM {
    background-color: rgb(201, 146, 238); 
}

#NOON {
    background-color: rgb(245, 168, 168); 
}

.btn-outline-secondary {
    background-color: #00e676
}